@media all and (max-width: 1024px) {

    #headerbar {
        width: 124%;
        height: 16%;
        background-color: darkmagenta;
        position: absolute;
        margin-top: -168px;
        margin-left: 30px;
        box-shadow: 0px 2px 10px rgb(0 0 0);
        border-radius: 1%;
    }

    #desc {
        position: absolute;
        margin-left: 193px;
        margin-top: 36px;
        font-size: 207%;
        color: aliceblue;
    }
    #oneContainer {
        width: 566px;
        height: 96%;
        margin-top: 189px;
        margin-right: -234px;
    }

    #container1 {
        position: absolute;
        margin-left: 50px;
        margin-top: 2px;
        background-color: inherit;
        width: 59%;
        height: 96%;
        box-shadow: 0px 2px 10px rgb(0 0 0);
        border-radius: 1%;
    }


    #para1 {
        margin-top: 26px;
        margin-bottom: 1rem;
        /* padding: 109px; */
        padding-left: 102px;
        padding-right: 81px;
        font-size: 107%;
    }

    #imageDiv {
        position: absolute;
        background-color: slategray;
        width: 124%;
        height: 66%;
        box-shadow: 0px 2px 10px rgb(0 0 0);
        border-radius: 1%;
        margin-top: 729px;
        margin-left: 30px;
    }

    #img1 {
        position: absolute;
        width: 28%;
        height: 73%;
        margin-left: 18px;
        margin-top: 61px;
    }
    #img2 {
        position: absolute;
        width: 32%;
        height: 75%;
        margin-left: 396px;
        margin-top: 58px;
    }
    #img3 {
        position: absolute;
        width: 33%;
        height: 72%;
        margin-left: 827px;
        margin-top: 65px;
    }


    #blackFooterTwo {
        width: 126%;
        height: 80%;
        background-color: black;
        margin-top: 595px;
    }

    .colThree {
        color: white;
        position: absolute;
        /* padding-left: 312px; */
        /* padding-right: 180px; */
        margin-top: -234px;
        margin-left: 305px;
    }

    #educationPng {
        position: absolute;
        margin-left: 781px;
        margin-top: -291px;
    }

    #charityPng {
        position: absolute;
        margin-left: 720px;
        margin-top: -298px;
    }
    #sriLankaPng {
        position: absolute;
        margin-left: 654px;
        margin-top: -290px;
    }


    #menu {
        color: white;
        margin-left: 1064px;
        margin-top: -278px;
        font-weight: bold;
        position: absolute;
    }

    .coltwo {
        position: absolute;
        margin-top: -228px;
        margin-left: 1044px;
        /* padding: 0px; */
    }



    #copyright {
        font-size: 102%;
        position: absolute;
        margin-left: 580px;
        margin-top: 109px;
        color: dimgray;
    }
    #lastPara {
        color: white;
        position: absolute;
        padding-left: 361px;
        /* padding-right: 180px; */
        margin-top: -234px;
        margin-left: 243px;
    }




}