@media all and (max-width: 1024px) {

    #headerbar {
        width: 124%;
        height: 16%;
        background-color: darkmagenta;
        position: absolute;
        margin-top: -125px;
        margin-left: -1px;
        box-shadow: 0px 2px 10px rgb(0 0 0);
        border-radius: 1%;
        margin-left: 24px;
    }

    #doanteForm {
        width: 532px;
        height: 96%;
        margin-top: 151px;
        margin-right: -170px;
    }
    #paragraph {
        margin-top: -41px;
        margin-bottom: 1rem;
        padding: 78px;
        font-size: 12px;
    }
    #imageDiv {
        position: absolute;
        background-color: slategray;
        width: 121%;
        height: 66%;
        box-shadow: 0px 2px 10px rgb(0 0 0);
        border-radius: 1%;
        margin-top: 665px;
        margin-left: 40px;
    }
    #img1 {
        position: absolute;
        width: 32%;
        height: 66%;
        margin-left: 15px;
        margin-top: 81px;
    }
    #img2 {
        position: absolute;
        width: 28%;
        height: 90%;
        margin-left: 437px;
        margin-top: 28px;
    }
    #img3 {
        position: absolute;
        width: 31%;
        height: 74%;
        margin-left: 824px;
        margin-top: 65px;
    }
    #blackFooter {
        width: 130%;
        height: 82%;
        background-color: black;
        margin-top: 530px;
    }

    .colThree {
        color: white;
        /* position: absolute; */
        padding-left: 0px;
        padding-right: 0px;
        margin-top: -234px;
        margin-left: 888px;
    }

    .colThree {
        color: white;
        /* position: absolute; */
        padding-left: 0px;
        padding-right: 0px;
        /* margin-top: -234px; */
        margin-left: 622px;
        font-size: 17px;
    }

    #educationPng {
        position: absolute;
        margin-left: 803px;
        margin-top: -291px;
    }
    #charityPng {
        position: absolute;
        margin-left: 741px;
        margin-top: -298px;
    }
    #sriLankaPng {
        position: absolute;
        margin-left: 681px;
        margin-top: -290px;
    }
    #menu {
        color: white;
        margin-left: 1145px;
        margin-top: -278px;
        font-weight: bold;
        position: absolute;
    }
    .coltwo {
        position: absolute;
        margin-top: -228px;
        margin-left: 1120px;
        /* padding: 0px; */
    }
    #loationPng {
        position: absolute;
        width: 5%;
        height: 5%;
        padding-left: 22px;
        margin-left: -68px;
        margin-top: -3px;
    }


}