@media all and (max-width: 1440px) {

    #donateBtn {
        position: absolute;
        margin-top: 501px;
        margin-left: 206px;
    }
    #footer {
        width: 100%;
        height: 5%;
        background-color: gainsboro;
        position: absolute;
        margin-top: 580px;
        margin-left: -12px;
        border-radius: 1%;
        opacity: 80.1%;
    }
    #smileImg {
        position: absolute;
        width: 100%;
        /* height: 44%; */
        /* margin-left: 58px; */
        margin-top: 148px;
    }
    #donateBtn {
        position: absolute;
        margin-top: 511px;
        margin-left: 210px;
    }
    #forward4 {
        width: 33%;
        height: 7%;
        /* margin-left: 72px; */
        margin-top: 507px;
        /* padding-left: 33px; */
        position: absolute;
        margin-right: 181px;
        background-color: revert;
    }
    #continue2 {
        position: absolute;
        margin-top: 505px;
        margin-left: 347px;
        width: 22%;
        height: 7%;
        border-radius: 8%;
        padding-right: 27px;
        background-color: green;
    }
    #sumbit1 {
        position: absolute;
        margin-top: 503px;
        margin-left: 200px;
        width: 22%;
        height: 41px;
        border-radius: 8%;
        background-color: red;
    }

    #backImgOne {
        position: absolute;
        margin-top: 519px;
        margin-left: 434px;
        width: 3%;
    }

    #forward2 {
        width: 16%;
        height: 7%;
        /* margin-left: 72px; */
        margin-top: 505px;
        /* padding-left: 33px; */
        position: absolute;
        margin-right: 66px;
        background-color: revert;
    }

    #successOne {
        margin-top: 477px;
        position: absolute;
        margin-left: 179px;
    }

    #submitTwo {
        position: absolute;
        margin-top: 473px;
        margin-left: 154px;
        width: 123px;
        height: 48px;
        border-radius: 10%;
        background: red;
    }



    #combo1 {
        position: absolute;
        /* margin-top: 123px; */
        margin-top: 14px;
        margin-left: 21px;
        border: none;
    }
    #text1 {
        position: absolute;
        margin-top: 10px;
        margin-left: 88px;
        height: 46%;
        width: 52%;
        border-radius: 6%;
        border-color: darkgreen;
        align-items: center;
        justify-content: center;
    }
    .btn1 {
        position: absolute;
        margin-top: 234px;
        margin-left: 27px;
        height: 12%;
        width: 29%;
        border-radius: 9%;
        border-color: aliceblue;
        background-color: darkmagenta;
        color: honeydew;
    }
    .btn2 {
        position: absolute;
        margin-top: 316px;
        margin-left: 27px;
        height: 12%;
        width: 29%;
        border-radius: 9%;
        border-color: aliceblue;
        background-color: darkmagenta;
        color: honeydew;
    }
    #donation {
        position: absolute;
        height: 6%;
        width: 94%;
        background: border-box;
        margin-top: 408px;
        padding: 27px;
        padding-left: 147px;
        padding-top: 9px;
        margin-left: 19px;
        border-radius: 3%;
        box-shadow: 0px 1px 3px #9e9e9e;

    }
    #continue {
        position: absolute;
        margin-top: 474px;
        margin-left: 301px;
        width: 24%;
        height: 8%;
        background-color: dimgray;
        border-radius: 8%;
    }
    #backImgTwo {
        position: absolute;
        margin-top: 493px;
        margin-left: 404px;
        width: 3%;
    }

    #amountError {
        position: absolute;
        margin-top: 445px;
        margin-left: 166px;
    }
    #successTwo {
        position: absolute;
        margin-top: 520px;
        margin-left: 164px;
    }
    #successThree {
        position: absolute;
        margin-top: 533px;
        margin-left: 142px;
    }
    #paymentError {
        position: absolute;
        margin-top: 534px;
        margin-left: 138px;
    }


    #btnDoante{
        position: absolute;
        margin-top: 499px;
        margin-left: 185px;
        width: 30%;
        height: 7%;
        border-radius: 9%;
        background-color: crimson;
    }
    #forward3 {
        width: 33%;
        height: 9%;
        /* margin-left: 72px; */
        margin-top: 468px;
        /* padding-left: 33px; */
        position: absolute;
        margin-right: 166px;
        background-color: revert;
    }
    #paypalbar {
        position: absolute;
        background-color: ghostwhite;
        width: 93%;
        height: 6%;
        margin-top: 452px;
        margin-left: 24px;
        box-shadow: 0px 2px 10px darkgrey;
        padding-left: 143px;
        padding-top: 6px;
    }
    #forward {
        width: 33%;
        height: 9%;
        /* margin-left: 72px; */
        margin-top: 496px;
        /* padding-left: 33px; */
        position: absolute;
        margin-right: 181px;
        background-color: revert;
    }
    .circles {
        position: absolute;
        margin-bottom: -35px;
        margin-left: -17px;
        width: 100%;
        height: 11px;
        bottom: 12%;
        position: absolute;
        text-align: center;
        z-index: 99;
        margin-left: -10px;
        /* margin-top: 70px; */
        position: absolute;
        /* margin-top: 97px; */
        /* padding-top: 279px; */
    }

    #oneh1 {
        margin-top: 28px;
        margin-left: 55px;
        font-size: 28px;
        font-family: 'Poppins', sans-serif;
        color: lightslategray;
        position: absolute;
    }
    #onehr {
        position: absolute;
        height: 3px;
        width: 53%;
        margin-left: 136px;
        margin-top: 104px;
    }
    #oneh2 {
        position: absolute;
        margin-top: 117px;
        margin-left: 99px;
        font-size: 23px;
        font-family: none;
        color: gray;
    }





}