@media  (max-width: 450px) {

    slider {
        display: block;
        width: 281%;
        height: 252%;
        background-color: white;
        overflow: hidden;
        position: absolute;
        margin-top: 425px;
        margin-left: 76px;
    }











}