@media all and (max-width:450px){

    .row {
        margin-left: 7px;
    }
.card {
    box-shadow: 0 0 30px rgb(0 0 1);
    border-radius: 15px;
    height: 111%;
    width: 105%;
    margin-left: 411px;
}

  #donationHistry {
    position: absolute;
    background-color: white;
    width: 157%;
    height: 42%;
    margin-left: 434px;
    margin-top: 249px;
    box-shadow: 0 0 30px rgb(0 0 0);
}

   #problemHistry {
    position: absolute;
    background-color: white;
    width: 173%;
    height: 150%;
    margin-left: -431px;
    margin-top: 160px;
    box-shadow: 0 0 30px rgb(0 0 0);
}




}