@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url("");

body{
	margin: 0;
	font-family: 'Merienda', cursive;
 background-image: url("images/back.jpg");
 background-color: #cccccc;

}

*{
	box-sizing: border-box;
}

 