@media all and (min-width: 2560px) and (max-width: 3000px) {
    #desc {
        position: absolute;
        margin-left: 1017px;
        margin-top: 26px;
        font-size: 237%;
        color: aliceblue;
    }

    .circles {
        width: 100%;
        height: 11px;
        bottom: 11%;
        position: absolute;
        text-align: center;
        z-index: 99;
        margin-left: 207px;
        /* margin-top: 70px; */
        position: absolute;
        /* margin-top: 97px; */
        /* padding-top: 279px; */
    }
    #doanteForm {
        width: 532px;
        height: 96%;
        margin-top: 151px;
        margin-right: 94px;
        padding-bottom: 0px;
        /* margin-bottom: 242px; */
    }
    #footer {
        width: 100%;
        height: 5%;
        background-color: gainsboro;
        position: absolute;
        margin-top: 580px;
        margin-left: -12px;
        border-radius: 1%;
        opacity: 80.1%;
    }
    #donateBtn {
        position: absolute;
        margin-top: 501px;
        margin-left: 206px;
    }
    #oneHead {
        margin-top: 25px;
        margin-left: 56px;
        font-size: 23px;
        font-family: 'Poppins', sans-serif;
        color: lightslategray;
        position: absolute;
    }

    #oneHr {
        position: absolute;
        height: 3px;
        width: 53%;
        margin-left: 127px;
        margin-top: 60px;
    }

    #oneHead2 {
        position: absolute;
        margin-top: 78px;
        margin-left: 99px;
        font-size: 23px;
        font-family: none;
        color: gray;
    }
    #smileImg {
        position: absolute;
        width: 100%;
        /* height: 44%; */
        /* margin-left: 58px; */
        margin-top: 122px;
    }
    #continue2 {
        position: absolute;
        margin-top: 496px;
        margin-left: 204px;
        width: 26%;
        height: 7%;
        border-radius: 8%;
        padding-right: 27px;
        background-color: dimgray;
    }




    #forward4 {
        width: 33%;
        height: 9%;
        /* margin-left: 72px; */
        margin-top: 493px;
        /* padding-left: 33px; */
        position: absolute;
        margin-right: 181px;
        background-color: revert;
    }

    #forward2 {
        width: 33%;
        height: 9%;
        /* margin-left: 72px; */
        margin-top: 489px;
        /* padding-left: 33px; */
        position: absolute;
        margin-right: 181px;
        background-color: revert;
    }


    #donation {
        position: absolute;
        height: 6%;
        width: 94%;
        background: border-box;
        margin-top: 441px;
        padding: 27px;
        padding-left: 147px;
        padding-top: 9px;
        margin-left: 19px;
        border-radius: 3%;
        box-shadow: 0px 1px 3px #9e9e9e;
        background-color: ghostwhite;
    }




    #continue {
        position: absolute;
        margin-top: 500px;
        margin-left: 183px;
        width: 28%;
        height: 7%;
        background-color: dimgray;
        border-radius: 8%;
    }


    #forwardImg {
        position: absolute;
        margin-top: 515px;
        margin-left: 300px;
        width: 3%;
    }


    #forwardImg2 {
        position: absolute;
        margin-top: 512px;
        margin-left: 310px;
        width: 3%;
    }


    #lastBtnDoante {
        position: absolute;
        margin-top: 512px;
        margin-left: 185px;
        width: 30%;
        height: 7%;
        border-radius: 9%;
        background-color: crimson;
    }

    #forward {
        width: 33%;
        height: 7%;
        /* margin-left: 72px; */
        margin-top: 511px;
        /* padding-left: 33px; */
        position: absolute;
        margin-right: 181px;
        background-color: revert;
    }
    #paragraph {
        margin-top: -49px;
        margin-bottom: 1rem;
        padding: 88px;
        font-size: 20px;
    }


    #img3 {
        position: absolute;
        width: 26%;
        height: 74%;
        margin-left: 1696px;
        margin-top: 65px;
    }
    #img2 {
        position: absolute;
        width: 20%;
        height: 94%;
        margin-left: 979px;
        margin-top: 13px;
    }

    #img1 {
        position: absolute;
        width: 29%;
        height: 61%;
        margin-left: 105px;
        margin-top: 102px;
    }


    #imageDiv {
        position: absolute;
        background-color: slategray;
        width: 96%;
        height: 66%;
        box-shadow: 0px 2px 10px rgb(0 0 0);
        border-radius: 1%;
        margin-top: 709px;
        margin-left: 29px;
    }


    .colThree {
        color: white;
        position: absolute;
        padding-left: 1072px;
        padding-right: 180px;
        margin-top: -234px;
        margin-left: 728px;
    }
    #sriLankaPng {
        position: absolute;
        margin-left: 1834px;
        margin-top: -290px;
    }

    #charityPng {
        position: absolute;
        margin-left: 1901px;
        margin-top: -298px;
    }
    #educationPng {
        position: absolute;
        margin-left: 1967px;
        margin-top: -291px;
    }
    #copyright {
        font-size: 102%;
        position: absolute;
        margin-left: 1890px;
        margin-top: -31px;
        color: dimgray;
    }
    #menu {
        color: white;
        margin-left: 1237px;
        margin-top: -318px;
        font-weight: bold;
        position: absolute;
    }

    .coltwo {
        position: absolute;
        margin-top: -275px;
        margin-left: 1210px;
        /* padding: 0px; */
    }
    #loationPng {
        position: absolute;
        width: 2%;
        height: 4%;
        padding-left: 21px;
        margin-left: -68px;
        margin-top: -3px;
    }

    #oneData {
        color: white;
        text-align: center;
        padding-left: 76px;
        padding-left: 489px;
        padding-top: 80px;
    }

    #twoData {
        color: white;
        padding-left: 498px;
        margin-top: 18px;
        padding-top: 20px;
        margin-left: 137px;
    }
    #threeData {
        color: white;
        padding-left: 491px;
        padding-top: 21px;
        text-decoration: none;
    }
    #follow {
        color: white;
        margin-left: 444px;
        margin-top: 51px;
    }
    .followings{


        padding-left: 299px;

    }

    #blackFooter {
        width: 100%;
        height: 71%;
        background-color: black;
        margin-top: 530px;
    }


    #terms {
        text-decoration: none;
        color: white;
        position: absolute;
        margin-top: 27px;
        margin-left: 565px;
    }

    #privacy {
        text-decoration: none;
        color: white;
        position: absolute;
        margin-top: 27px;
        margin-left: 455px;
    }











}