html,body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0px;
}

slider {
    display: block;
    width: 100%;
    height: 155%;
    background-color: white;
    overflow: hidden;
    position: absolute;
    margin-top: 98px;
    margin-left: 76px;

}

slider > *{
    position: absolute;
    display: block;
    width: 100%;
    height: 50%;
    background-color: white;
    animation: slide 10s infinite;
    overflow: hidden;
}
slide:nth-child(1){
    left: 0%;
    animation-delay: 4s;
    background-size: cover;
    background-position: center;
}
slide:nth-child(2){
    left: 0%;
    animation-delay: 7s;
    background-size: cover;
    background-position: center;
}
slide:nth-child(3){
    left: 0%;
    animation-delay: 10s;
    background-size: cover;
    background-position: center;
}
slide:nth-child(4){
    left: 0%;
    animation-delay: 12s;
    background-size: cover;
    background-position: center;
}

@keyframes slide {
    0%{left: 0px;}
    10%{left: 0px;}
    20%{left: 1600px;}
    30%{left: 1600px;}
    40%{left: 2600px;}
    50%{left: 2600px;}
    60%{left: 1600px;}
    70%{left: 1600px;}
    80%{left: 0px;}
    90%{left: 0px;}
    100%{left: 0px;}

}
.block {
    width: 414px;
    height: 471px;
    background-color: rebeccapurple;
    position: absolute;
    margin-top: 779px;
    margin-left: 88px;
    background-image: url(../images/library.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.color-overlay{
    width: 100%;
    height: 100%;
    background-color: blue;
    opacity: .3;
    position: absolute;
}

h1{
    font-size: 2.5rem;
    padding-left: 37px;
    padding-top: -3px;
    padding-bottom: 200px;
    z-index: 50;
    color: white;
}
.box-shadow{
   box-shadow:0px 2px 10px rgba(0,0,0,5);

}

.card{
    margin-top: 732px;
}
.card-title{
    text-align: center;
    color: blue;
    font-weight: bold;
}

.holder{
    font-family: 'Poppins', sans-serif ;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
#blueOne {
    margin-left: 60px;
    margin-top: 24px;
}
#blueTwo {
    margin-left: 45px;
    margin-top: 24px;
}

#blueThree {
    margin-left: 46px;
}

#redOne {
    margin-right: 58px;
    margin-top: 23px;
}
#redTwo {
    margin-right: 77px;
    margin-top: 24px;
}
#redThree {
    margin-right: 71px;
}
.methodology {
    width: 89%;
    height: 64%;
    background-color: white;
    margin-left: 86px;
    box-shadow: 0px 2px 10px rgb(0 0 0);
    margin-top: 55px;
}
h2 {
    margin-left: 153px;
    /* margin-bottom: 18px; */
    padding-top: 22px;
}
.para1 {
    position: absolute;
    margin-top: -9px;
    margin-left: 0px;
    padding: 24px 176px 89px 149px;
}
.footer {
    width: 106%;
    height: 65%;
    background-color: black;
    margin-top: 63px;
}
#loationPng {
    position: absolute;
    width: 4%;
    height: 4%;
    padding-left: 31px;
    margin-left: -77px;
    margin-top: -3px;
}
#oneData {
    color: white;
    text-align: center;
    padding-left: 76px;
    padding-left: 231px;
    padding-top: 80px;
}

#callPng {
    height: 4%;
    /* padding-left: 13px; */
    margin-left: -48px;
    position: absolute;
    padding-top: 3px;
    margin-top: 1px;
}
#twoData {
    color: white;
    padding-left: 231px;
    margin-top: 18px;
    padding-top: 20px;
    margin-left: 27px;
}
#emailPng {
    position: absolute;
    margin-left: -52px;
    height: 5%;
    margin-top: -3px;
}
#threeData {
    color: white;
    padding-left: 231px;
    padding-top: 21px;
}
#follow {
    color: white;
    margin-left: 186px;
    margin-top: 51px;
}

#fbPng {
    margin-left: 183px;
    margin-top: 9px;
}
#twitterPng {
    margin-left: 0px;
    margin-top: 16px;
}
#youtubePng {
    margin-left: 1px;
    padding-top: 18px;
}
#instaPng {
    margin-left: 1px;
    margin-top: 18px;
}
#menu {
    color: white;
    margin-left: 708px;
    margin-top: -278px;
    font-weight: bold;
    position: absolute;
}
.coltwo {
    position: absolute;
    margin-top: -228px;
    margin-left: 679px;
    /* padding: 0px; */
}

.linkOne{
    text-decoration: none;
    color: white;

}

#home{
    position: absolute;
    margin-top: 0px;
}


#whoWeAre {
    position: absolute;
    margin-top: 44px;
}
#faq {
    position: absolute;
    margin-top: 93px;
}
#ongoingProject {
    position: absolute;
    margin-top: 135px;
}


#completedProject {
    position: absolute;
    margin-top: 186px;
}
#involvedwithUs {
    position: absolute;
    margin-top: 233px;
}
