body{
    /*overflow-x: hidden;*/
}
.profle-area{
    /*padding: 80px 82px;*/

}
.row{
    margin-left: 306px;

}
.card{

    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    border-radius: 15px;
    height: 150%;
    width: 100%;

}

.img1 img {
    height: 200px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 100%;
}
.img2 img{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 7px solid #ffffff;
    margin-top: -80px;

}

.card:hover .img2 img{
    border-color: darkcyan;
    transition: .7s;
}

.main-text{
    padding: 30px 0;
    text-align: center;
}
.main-text h2{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;
    margin: 0 0 20px;

}

.main-text p{
    font-size: 16px;
    padding: 0 35px;
}
input{
    border: none;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background-color: #f2f2f2;
    padding: 12px;
    border-radius: 3px;
    width: 250px;
    outline: none;

}
#labelName{


}
#labelEmail {
    position: absolute;
    margin-left: -301px;
    margin-top: 69px;
}
#labelpassword {
    position: absolute;
    margin-left: -324px;
    margin-top: 136px;
}
#nameField{

}
#emailField {
    position: absolute;
    margin-left: -249px;
    margin-top: 68px;
}

#passwordField {
    position: absolute;
    margin-top: 126px;
    margin-left: -247px;
}


#update {
    position: absolute;
    margin-left: -239px;
    margin-top: 214px;
    background: red;
    width: 101px;
    border-radius: 9%;
}

#cancel {
    position: absolute;
    margin-left: -119px;
    margin-top: 214px;
    background: darkgreen;
    width: 101px;
    border-radius: 9%;
}

#donationHistry {
    position: absolute;
    background-color: white;
    width: 47%;
    height: 51%;
    margin-left: 753px;
    margin-top: -486px;
    box-shadow: 0 0 30px rgba(0,0,0,0.1);
}

#problemHistry {
    position: absolute;
    background-color: white;
    width: 47%;
    height: 51%;
    margin-left: 752px;
    margin-top: -85px;
    box-shadow: 0 0 30px rgba(0,0,0,0.1);
}
#h2One {
    position: absolute;
    margin-left: 250px;
    margin-top: 13px;
}
#h2Two {
    position: absolute;
    margin-left: 255px;
    margin-top: 12px;
}