@media all and (max-width: 400px) {
    #headerbar {
        width: 285%;
        height: 16%;
        background-color: darkmagenta;
        position: absolute;
        margin-top: -168px;
        margin-left: 22px;
        box-shadow: 0px 2px 10px rgb(0 0 0);
        border-radius: 1%;
    }

    #container1 {
        position: absolute;
        margin-left: 109px;
        margin-top: 693px;
        background-color: inherit;
        width: 248%;
        height: 115%;
        box-shadow: 0px 2px 10px rgb(0 0 0);
        border-radius: 1%;
    }

    #img3 {
        position: absolute;
        width: 29%;
        height: 73%;
        margin-left: 725px;
        margin-top: 65px;
    }


    #img2 {
        position: absolute;
        width: 32%;
        height: 75%;
        margin-left: 365px;
        margin-top: 58px;
    }
    #imageDiv {
        position: absolute;
        background-color: slategray;
        width: 279%;
        height: 66%;
        box-shadow: 0px 2px 10px rgb(0 0 0);
        border-radius: 1%;
        margin-top: 1476px;
        margin-left: 30px;
    }

    #blackFooter2 {
        width: 297%;
        height: 84%;
        background-color: black;
        margin-top: 1355px;
    }

    #terms {
        text-decoration: none;
        color: white;
        position: absolute;
        margin-top: 58px;
        margin-left: 296px;
        margin-right: -27px;
    }
    #copyright {
        font-size: 102%;
        position: absolute;
        margin-left: 408px;
        margin-top: 112px;
        color: dimgray;
        margin-right: -378px;
    }
    






}