@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;

}
p{
    font-weight: 300;
    color: #111;
}
/*style of banner*/

.slider{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 1;
}

.slider .imgBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    transition-delay: 0s;
    z-index: 1;
    clip-path: circle(0px at center);
   
}

.slider input[type="radio"]:checked + .imgBx{
    z-index: 10;
    clip-path: circle(1000px at center);
    transition-delay: 0.75s;
}
.slider .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.slider .imgBx .content {
    position: relative;
    text-align: center;
    max-width: 800px;
}

.slider .imgBx .content h2{
    font-size: 6em;
    line-height: 1em;
    color: white;
    text-transform: uppercase;
}
.slider .imgBx .content p{
    font-size: 1.1em;
    color: white;
}

.slider .imgBx .content a{
    font-size: 1em;
    color: white;
    background: deepskyblue;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s ;
}
.slider .imgBx .content a:hover{
    letter-spacing: 6px;
    background-color: dodgerblue;
}
.slider input[type="radio"]{
    position: relative;
    z-index: 1000;
    margin: 5px;
    margin-bottom: 40px;
    outline: none;
    cursor: pointer;
}


/* header and navigation bar style*/

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky{
    background: deepskyblue;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

header .logo{
    position: relative;
    max-width: 186px;
}

header .navigation{
    position: relative;
    display: flex;
}

header .navigation li{
    list-style: none;
    margin-left: 30px
}

header .navigation li a{
    text-decoration: none;
    color: white;
    font-weight: 300;
}

header .navigation li a:hover{
    color: #ff0157;
}
section{
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
}
/*work for smiles*/

.intro-area{
    position: relative;
    padding: 100px 10px;
    text-align: center;
    min-height: 100vh;
    margin: center;
    align-items: center;
    justify-content: center;
    
}

.intro-area h2{
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 2em;
    color: #181818;
} 

.sub-heading{
    position: relative;
    margin-bottom: 75px;
}

.sub-heading:before{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left:-3%;
    width: 6%;
    height: 1px;
    background-color:deepskyblue;
    z-index: 1;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease; 
    transition: 0.3s ease;
    
}

.sub-heading:hover:before{
    width: 24%;
    margin-left: -12px;
}

.sub-heading:after{
    content: "";
    position:absolute;
    top: 100%;
    left: 50%;
    margin-left: -12%;
    width: 24%;
    height: 1px;
    background-color: #e1e1e1 ;
}

.sub-heading p{
    color: #333;
    display: inline-block;
    padding: 0px 0px 20px;
    position: relative;
    line-height: 24px;
    letter-spacing: 0.025em;
}

/*work for smiles*/

/*icon design*/
.container{
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0 300px -500px;

}
 

.container .card{
    position: relative;
}

.container .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
    
}

.container .card .face.face1{
    position: relative;
    background: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
    
}

.container .card:hover .face.face1{
    background: deepskyblue;
    transform: translateY(0);
}

.container .card .face.face1 .content{
    transition: 0.5s;
    
}

.container .card:hover .face.face1 .content{
    opacity: 1;
    
}

.container .card .face.face1 .content img{
    max-width: 100px;
}

.container .card:hover .face.face1 .content img{
    max-width: 100px;
    filter: invert(1);
}

.container .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: black;
    text-align: center;
    font-size: 1.5em;
}

.container .card:hover .face.face1 .content h3{
    color: white;

}
.container .card .face.face2{
    position: relative;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    transform: translateY(-100px);
}

.container .card:hover .face.face2{

    transform: translateY(0);
}


.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}


.container .card .face.face2 .content a{
    margin: 15px 0 0;
    display: inline-block;

    text-decoration: none;
    font-weight: 900;
    color: deepskyblue;
    padding: 5px;
    border: 1px solid deepskyblue;
}

.container .card .face.face2 .content a:hover{
    color: white;
    background: deepskyblue;
}

/*icon design*/


@media(max-width:991px)
{
    header{
        padding:20px ;
    }

    header .logo{
        max-width: 60px;
    }

    header .navigation {
       
        display: none;
    }

    .toggle{
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: url(home\ page\ 2.html);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
    }
}
