@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


p{
    font-weight: 300;
    color: #111;
}

.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../home\ page/image/banner.jpg);
    background-size: cover;
}

.banner .content{
    max-width: 900px;
    text-align: center;
}

.banner .content h2{
    font-size: 5em;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}
.banner .content p{
    font-size: 1em;
    color: white;
}

/* styles of button*/

.btn{
    font-size: 1em;
    color: white;
    background: deepskyblue;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s ;
}
.btn:hover{
    letter-spacing: 6px;
    background-color: dodgerblue;
}
/* header and navigation bar style*/

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky{
    background: deepskyblue;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

header .logo{
    position: relative;
    max-width: 186px;
}

header .navigation{
    position: relative;
    display: flex;
}

header .navigation li{
    list-style: none;
    margin-left: 30px
}

header .navigation li a{
    text-decoration: none;
    color: white;
    font-weight: 300;
}

header .navigation li a:hover{
    color: #ff0157;
}

/*work for smiles*/

.intro-area{
    position: relative;
    padding: 100px 0px;
    text-align: center;
    min-height: 100vh;
    
}

.intro-area h2{
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 2em;
    color: #181818;
} 

.sub-heading{
    position: relative;
    margin-bottom: 75px;
}

.sub-heading:before{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left:-3%;
    width: 6%;
    height: 1px;
    background-color:deepskyblue;
    z-index: 1;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease; 
    transition: 0.3s ease;
    
}

.sub-heading:hover:before{
    width: 24%;
    margin-left: -12px;
}

.sub-heading:after{
    content: "";
    position:absolute;
    top: 100%;
    left: 50%;
    margin-left: -12%;
    width: 24%;
    height: 1px;
    background-color: #e1e1e1 ;
}

.sub-heading p{
    color: #333;
    display: inline-block;
    padding: 0px 0px 20px;
    position: relative;
    line-height: 24px;
    letter-spacing: 0.025em;
}

/*work for smiles*/
